
#box{
    background-color: black;
    width: 20px;
    height: 150px;
    margin: auto;
  }
  
  #trafics{
    background-color: black;
    width: 150px;
    height: 420px;
    margin: auto;
    border-radius: 10px;
    padding-top: 20px;
  }
  .bulb{
    margin: auto;
    width: 120px;
    height: 120px;
    border-radius: 100%;
  }
  .red{
    background-color: red;
  }
  
  .yellow{
    margin-top: 10px;
    background-color: yellow;
  }
  .green{
    margin-top: 10px;
    background-color: green;
  }
  .purple{
    margin-top: 10px;
    background-color: purple;
  }
  
  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  #on{
    box-shadow: 0 0 30px #FFFFFF;
  }